*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; ;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    position: relative;
}
body::before{
    content: '';
    height: 100%;
    width: 100%;
    background: #ff676d;
    position: absolute;
    clip-path: inset(47% 0 0 0);
    z-index: -1;
}
.container{
    width: 100%;
    max-width: 950px;
    padding: 80px 0;
    overflow: hidden;
}
.container .main-card{
    width: 200%;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s ease;
}
#two:checked ~ .main-card{
    margin-left: -100%;
}
.main-card .cards{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: calc(100% / 2 - 10px);
}
.main-card .cards .card{
   background: #fff;
   width: calc(100% / 3 - 10px);
   padding: 30px;
   border-radius: 24px;
   transition: all 0.4s  ease;
}
.main-card .cards .card:hover{
    transform: translateY(-15px);
}
.cards .card .content .img{
    height: 130px;
    width: 130px;
    margin-bottom: 14px;
    background: #ff676d;
    border-radius: 50%;
    padding: 3px;
}
.cards .card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.card .content .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
    border: 3px solid #fff;

}  
.card .content .details .name{
    font-size: 20px;
    font-weight: 500;
}
.card .content .details .job{
    font-size: 20px;
    color: #ff676d;
}
.card .content .media-icon{
    display: flex;
    margin-top: 10px;
}
.card .content .media-icon a{
    height: 35px;
    width: 35px;
    background: #ff676d;
    margin: 0 4px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}
.content .media-icon a:hover{
    border-color:#ff676d;
    color: #ff676d;
    background: #fff    ;
}
.button{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.button label{
    height: 15px;
    width: 15px;
    background: #fff;
    margin: 0 4px;
    border-radius: 20px;
    transition:all 0.6s  ease;
}
.button label.active{
    width: 35px;
}
#one:checked ~ .button label.one{
    width: 35px; 
}
#two:checked ~.button label.two{
    width: 35px;
}
#two:checked ~.button label.one{
    width: 15px;
}
#one:checked ~ .button label.two{
    width: 15px;
}   
#two:checked  .main-card{
    margin-left: -100%;
}
input[type="radio"]{
    display: none;
}

@media only screen and (max-width: 425px) {
    .container {
      padding: 20px 0;
    }
    .main-card .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 20px;
        width: calc(100% / 2 - 10px);
    }
    .cards {
      margin: 0;
    }
    .card {
      width: 100%;
      margin-bottom: 10px;
    }
    .button {
      flex-direction: column;
    }
    .button label {
      margin-bottom: 5px;
    }
    .card .content .img {
      height: 100px;
      width: 100px;
    }
    .card .content .details .name {
      font-size: 18px;
    }
    .card .content .details .job {
      font-size: 18px;
    }
    .main-card .cards .card {
        background: #fff;
        width: 100%;
        padding: 30px;
        border-radius: 24px;
        transition: all 0.4s ease;
    }
  }